.loader {
  width: 100vw;
  height: 100vh;
  background-color: $light-green-color;
  color: $dark-green-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  transition: all 0.7s ease-in-out;
  &.remove {
    opacity: 0;
  }
}
.progress-bar-wrapper {
  position: relative;
  width: 250px;
  color: $dark-green-color;
  transition: all 0.5s ease-in-out;
  &::before,
  &::after {
    transition: all 0.3s ease-in-out;
    font-size: 32px;
    position: absolute;
    left: 50%;
    width: fit-content;
    pointer-events: none;
    transform: translate(-50%, -50%);
  }
  &::before {
    content: attr(data-status);
    top: 50%;
    z-index: 10;
  }
  &::after {
    content: attr(data-percentage) '\00a0''%';
    top: 50%;
    opacity: 0;
  }
  &.in-progress {
    width: 500px;
    &::before {
      top: -50%;
    }
    &::after {
      opacity: 1;
      top: 150%;
    }
    @include maxScreen(640) {
      width: 75vw;
    }
  }
  &.white-color {
    color: $white-color;
  }
  @include maxScreen(640) {
    width: 55vw;
  }
}
.progress-bar {
  border-radius: 25px;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.start-button {
  width: 100%;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  background-color: $white-color;
}
.progress {
  pointer-events: none;
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $dark-green-color;
  border-radius: 25px;
  transition: all 3s ease-in-out;
  left: -100%;
  top: 0;
  &.show {
    left: 0;
  }
}
