doctype html
html(lang="en")
    head
        include ../layouts/head/head
    body
        main
            h1 arrange numbers
            h1 arrange numbers
            h1 arrange numbers
            h1 arrange numbers
            h1 arrange numbers
            include ../components/loader/index




        script(src='./scripts/loader.js')