//- include ../components/demanderUnDevis/demanderUnDevisMixin
//- include ../components/hero/heroMixin
//- include ../components/breadcrumb/breadcrumb
doctype html
html(lang="en")
    head
        include ../layouts/head/head
    body
        main
            include ../components/slider/slider