-
  const sliderList = [
    {
      //- image: "./images/creerAvecVisiteurs-1.png",
      href: "./arrange-numbers.html",
      name: "arrange numbers",
    },
    {
      //- image: "./images/creerAvecVisiteurs-1.png",
      href: "./memory-game.html",
      name: "memory game",
    },
    {
      //- image: "./images/creerAvecVisiteurs-1.png",
      href: "./rock-paper-scissors.html",
      name: "rock paper scissors",
    },
    {
      //- image: "./images/creerAvecVisiteurs-1.png",
      href: "./snake.html",
      name: "snake",
    },
    {
      //- image: "./images/creerAvecVisiteurs-1.png",
      href: "./tic-tac-toe.html",
      name: "tic tac toe",
    },
    {
      //- image: "./images/creerAvecVisiteurs-1.png",
      href: "./connect-four.html",
      name: "connect four",
    },
  ];
